*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html, input, button {
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
}