

.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  font-size: 1.6rem;
}

.container>header {
  width: 50%;
  margin: 8.4rem 0 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container header img {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  margin-left: 0.7rem;
}

.container header div{
  display: flex;
  align-items: center;
}

.container>h3{
  margin: 1rem 0;
}

.container>input {
  width: 50%;
  padding: 2.4rem;

  background: #e6e6e6;
  border-radius: 1rem;
  border: none;

  font-size: 1.6rem;

}

.container>button {
  width: 50%;
  padding: 2.4rem;

  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;

  border: none;
  border-radius: 1rem;

  margin: 1.2rem 0 8.4rem;

  background: #ea4c89;


  cursor: pointer;

  transition: filter 0.2s ease-in-out;
}

.container>button:hover {
  filter: brightness(0.9);
}


.countAluno {
  width: 50%;
  padding: .75rem 0;
  margin-left: 2rem;
}